/* styles.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  text-align: center;
  max-width: 1980px;
  font-family: 'Lato';
  color: #333;
}

.my-form {
  max-width: 400px;
  margin:auto;
  padding: 20px;
  border: 1px solid #3d3c3c;
  border-radius: 5px;
  background-color: #d7d7d7;
  color: white;
}

.my-form input,
.my-form button {
  margin-bottom: 10px;
  color: rgb(8, 8, 8);
  border: none;
  padding: 10px;
}

.my-form button {
  background-color: #007bff;
  color: white;
}
p{
  font-size: 15px;
  color: rgb(39, 33, 33);
  font-family: sans-serif;
  font-size: 18px;
}
.errors{
  max-width: 300px;
  margin: auto;
  padding: 10px;
  border: 1px solid #3d3c3c;
  border-radius: 5px;
  background-color: #c24d4d;
  color: rgb(254, 254, 254);
  margin-bottom: 10px;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: center;
  
}

.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  width: 340px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin: 15px;

}



.edit-button,
.delete-button {
  padding: 6px 12px;
  cursor: pointer;
}
.productos {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productos button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 125px;
  cursor: pointer;
  border-radius: 3%;
}

.product-image{
  width: 340px;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
/* .products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.product-image-container {
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-info {
  padding: 10px;
}

.btn-add-cart {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-cart:hover {
  background-color: #2980b9;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
}



 */







.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.product-image-container {
  text-align: center;
  flex-grow: 1;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-info {
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
  text-align: center;
}

.btn-add-cart {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-cart:hover {
  background-color: #2980b9;
}



/* ACA EMPIEZA ESTILOS DE PREGUNTA */



/* ACA TERMINA ESTILOS DE PREGUNTAS */
