#instagram{
    color: #bc1888;
    font-size: 30px;
    margin: 1rem;
    }

#facebook{
    color: #3b5998;
    font-size: 30px;
    margin: 1rem;
    }    
#whatsapp{

    color: #25D366;
    font-size: 30px;
    margin: 1rem;
}    